/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../app/assets/stylesheets/custom.css.scss */
.container {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

/* line 11, ../../app/assets/stylesheets/custom.css.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 16, ../../app/assets/stylesheets/custom.css.scss */
body {
  background-image: url("grungepaper6_by_fudgegraphics.jpg");
}

/* line 20, ../../app/assets/stylesheets/custom.css.scss */
header {
  padding-top: 20px;
}

/* line 24, ../../app/assets/stylesheets/custom.css.scss */
header img {
  padding: 1em;
  background: #123;
}

/* line 29, ../../app/assets/stylesheets/custom.css.scss */
section {
  margin-top: 1em;
  padding: 20px;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #617798;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 42, ../../app/assets/stylesheets/custom.css.scss */
section h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 48px;
  color: #212121;
  text-shadow: #666666 3px 3px 0, #777777 -2px -1px 0;
  padding-top: 6px;
  padding-left: 30px;
}

/* Links */
/* line 53, ../../app/assets/stylesheets/custom.css.scss */
a {
  color: #09c;
  text-decoration: none;
}

/* line 58, ../../app/assets/stylesheets/custom.css.scss */
a:hover {
  color: #069;
  text-decoration: underline;
}

/* line 63, ../../app/assets/stylesheets/custom.css.scss */
a:visited {
  color: #069;
}

/* Navigation */
/* line 69, ../../app/assets/stylesheets/custom.css.scss */
nav {
  float: right;
  margin-right: 200px;
}

/* line 74, ../../app/assets/stylesheets/custom.css.scss */
nav {
  background: None;
  padding: 0 0.7em;
  white-space: nowrap;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #212121;
  margin-top: -10px;
}

/* line 86, ../../app/assets/stylesheets/custom.css.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 91, ../../app/assets/stylesheets/custom.css.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

/* line 97, ../../app/assets/stylesheets/custom.css.scss */
nav ul li a {
  padding: 0 5px;
  color: #464646;
}

/* line 102, ../../app/assets/stylesheets/custom.css.scss */
nav ul li a:visited {
  color: #464646;
}

/* line 106, ../../app/assets/stylesheets/custom.css.scss */
nav ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* Sign up button */
/* line 113, ../../app/assets/stylesheets/custom.css.scss */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
  width: 182px;
  height: 40px;
  color: #fff;
  /*background: #d1b328;*/
  font-size: 125%;
  padding: 0px;
  /*border-style:solid;*/
  border-width: 2px;
  border-color: #123;
  background-image: url("button2.png");
}

/* Round corners */
/* line 132, ../../app/assets/stylesheets/custom.css.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Centering an Image */
/* line 140, ../../app/assets/stylesheets/custom.css.scss */
img.center {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  z-index: 0;
}

/* line 145, ../../app/assets/stylesheets/custom.css.scss */
img.tape {
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  margin-left: 100px;
  position: absolute;
  z-index: 1;
}

/* line 152, ../../app/assets/stylesheets/custom.css.scss */
img.tape2 {
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  position: absolute;
  margin-left: 700px;
  margin-top: -70px;
  z-index: 1;
}

/* line 160, ../../app/assets/stylesheets/custom.css.scss */
img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0em;
  height: 62px;
}

/* Footer */
/* line 172, ../../app/assets/stylesheets/custom.css.scss */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

/* line 180, ../../app/assets/stylesheets/custom.css.scss */
footer nav {
  float: none;
}

/* User show page */
/* line 186, ../../app/assets/stylesheets/custom.css.scss */
table.profile {
  width: 100%;
  margin-bottom: 0;
}

/* line 191, ../../app/assets/stylesheets/custom.css.scss */
td.main {
  padding: 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  width: 70%;
}

/* line 197, ../../app/assets/stylesheets/custom.css.scss */
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: none;
}

/* line 205, ../../app/assets/stylesheets/custom.css.scss */
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* line 210, ../../app/assets/stylesheets/custom.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 214, ../../app/assets/stylesheets/custom.css.scss */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 221, ../../app/assets/stylesheets/custom.css.scss */
.field_with_errors label {
  color: #fff;
}

/* line 225, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 234, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

/* line 244, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

/* line 250, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 255, ../../app/assets/stylesheets/custom.css.scss */
ul.users {
  margin-top: 1em;
}

/* line 259, ../../app/assets/stylesheets/custom.css.scss */
.users li {
  list-style: none;
}

/* line 263, ../../app/assets/stylesheets/custom.css.scss */
h1.micropost {
  margin-left: 15px;
  margin-bottom: 0.3em;
  font-size: 38px;
}

/* line 269, ../../app/assets/stylesheets/custom.css.scss */
table.microposts {
  margin-top: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 276, ../../app/assets/stylesheets/custom.css.scss */
table.microposts tr {
  height: 70px;
}

/* line 280, ../../app/assets/stylesheets/custom.css.scss */
table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

/* line 286, ../../app/assets/stylesheets/custom.css.scss */
table.microposts tr td.micropost {
  vertical-align: top;
  padding-top: 10px;
  background-image: url("lined_paper.png");
}

/* line 293, ../../app/assets/stylesheets/custom.css.scss */
table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

/* line 299, ../../app/assets/stylesheets/custom.css.scss */
div.user_info img {
  padding-right: 0.1em;
}

/* line 303, ../../app/assets/stylesheets/custom.css.scss */
div.user_info a {
  text-decoration: none;
}

/* line 307, ../../app/assets/stylesheets/custom.css.scss */
div.user_info span.user_name {
  position: absolute;
}

/* line 311, ../../app/assets/stylesheets/custom.css.scss */
div.user_info span.microposts {
  font-size: 80%;
}

/* line 315, ../../app/assets/stylesheets/custom.css.scss */
form.new_micropost {
  margin-bottom: 2em;
}

/* line 319, ../../app/assets/stylesheets/custom.css.scss */
form.new_micropost textarea {
  height: 5em;
  width: 50em;
  margin-bottom: 0;
  margin-left: -20px;
}

/* I stole this from Elliott and have no idea how it works */
/* line 331, ../../app/assets/stylesheets/custom.css.scss */
.clear {
  clear: both;
}

/* line 335, ../../app/assets/stylesheets/custom.css.scss */
#content {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 4px;
  position: relative;
  background-image: url("lined_paper.png");
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #464646;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 15px;
}
/* line 346, ../../app/assets/stylesheets/custom.css.scss */
#content hr {
  margin: 0 0 50px 0;
  padding-top: 10px;
  border: 0 none;
  width: 100%;
  height: 30px;
  clear: both;
}
/* line 356, ../../app/assets/stylesheets/custom.css.scss */
#content a, #content a:visited {
  color: #339;
}
/* line 360, ../../app/assets/stylesheets/custom.css.scss */
#content section {
  margin: 0px auto;
  position: relative;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  margin-left: 60px;
  margin-right: auto;
  background: none;
}
/* line 370, ../../app/assets/stylesheets/custom.css.scss */
#content section h2 {
  line-height: 30px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 30px;
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.5), 0 1px 0;
}
/* line 379, ../../app/assets/stylesheets/custom.css.scss */
#content section h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
/* line 385, ../../app/assets/stylesheets/custom.css.scss */
#content section p {
  margin-bottom: 25px;
}
/* line 390, ../../app/assets/stylesheets/custom.css.scss */
#content section div.two-column {
  width: 100%;
}
/* line 394, ../../app/assets/stylesheets/custom.css.scss */
#content section div.two-column > div {
  float: left;
  margin-left: 30px;
  width: 414px;
}
/* line 399, ../../app/assets/stylesheets/custom.css.scss */
#content section div.two-column > div:first-child {
  margin-left: 0;
}
/* line 405, ../../app/assets/stylesheets/custom.css.scss */
#content section div.two-column.with-images {
  margin: 0px auto;
  width: 710px;
}
/* line 409, ../../app/assets/stylesheets/custom.css.scss */
#content section div.two-column.with-images div {
  width: 340px;
}
/* line 414, ../../app/assets/stylesheets/custom.css.scss */
#content section div.three-column {
  overflow: hidden;
  width: 100%;
}
/* line 418, ../../app/assets/stylesheets/custom.css.scss */
#content section div.three-column > div {
  float: left;
  margin-left: 30px;
  width: 266px;
}
/* line 423, ../../app/assets/stylesheets/custom.css.scss */
#content section div.three-column > div:first-child {
  margin-left: 0;
}
/* line 429, ../../app/assets/stylesheets/custom.css.scss */
#content section div.four-column {
  overflow: hidden;
  width: 100%;
}
/* line 433, ../../app/assets/stylesheets/custom.css.scss */
#content section div.four-column > div {
  float: left;
  margin-left: 30px;
  width: 192px;
}
/* line 438, ../../app/assets/stylesheets/custom.css.scss */
#content section div.four-column > div:first-child {
  margin-left: 0;
}

/* line 446, ../../app/assets/stylesheets/custom.css.scss */
b {
  font-weight: bold;
}

/* line 448, ../../app/assets/stylesheets/custom.css.scss */
div.meta {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  text-align: center;
}
/* line 454, ../../app/assets/stylesheets/custom.css.scss */
div.meta h4 {
  font-weight: 600;
  font-size: 16px;
}

/* line 460, ../../app/assets/stylesheets/custom.css.scss */
div.hotel, div.travel {
  position: relative;
}

/* line 464, ../../app/assets/stylesheets/custom.css.scss */
img.polaroid {
  padding: 8px 8px 10px 8px;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 6px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 6px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 6px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 6px 2px;
}

/* line 471, ../../app/assets/stylesheets/custom.css.scss */
div.hotel p.details {
  text-align: justify;
  height: 150px;
}
/* line 476, ../../app/assets/stylesheets/custom.css.scss */
div.hotel a.img {
  display: block;
  padding-top: 5px;
}
/* line 481, ../../app/assets/stylesheets/custom.css.scss */
div.hotel img {
  display: block;
  margin: 5px auto 25px;
  width: 220px;
  height: 120px;
}
/* line 487, ../../app/assets/stylesheets/custom.css.scss */
div.hotel img.omni, div.hotel img.wmarriott {
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
/* line 488, ../../app/assets/stylesheets/custom.css.scss */
div.hotel img.hiltongardeninn {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* line 492, ../../app/assets/stylesheets/custom.css.scss */
#the-trip p.getting-there {
  width: 828px;
  margin-bottom: 10px;
}

/* line 497, ../../app/assets/stylesheets/custom.css.scss */
#the-trip p.getting-there-indented {
  width: 680px;
  margin-left: 60px;
  margin-bottom: 0px;
}

/* line 504, ../../app/assets/stylesheets/custom.css.scss */
#airports {
  margin-bottom: 75px;
}

/* line 508, ../../app/assets/stylesheets/custom.css.scss */
#the-trip a.map {
  position: relative;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  display: block;
  margin-top: 35px;
  margin-left: 135px;
  margin-bottom: 10 0px;
}
/* line 517, ../../app/assets/stylesheets/custom.css.scss */
#the-trip a.map img.map {
  height: 500px;
  width: 500px;
}

/* line 523, ../../app/assets/stylesheets/custom.css.scss */
div#ceremony, div#reception {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
/* line 528, ../../app/assets/stylesheets/custom.css.scss */
div#ceremony > div.description, div#reception > div.description {
  float: left;
  width: 488px;
  text-align: justify;
}
/* line 534, ../../app/assets/stylesheets/custom.css.scss */
div#ceremony > div.details, div#reception > div.details {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  width: 192px;
  text-align: center;
  margin-left: 90px;
}
/* line 541, ../../app/assets/stylesheets/custom.css.scss */
div#ceremony > div.details h4, div#reception > div.details h4 {
  font-weight: 600;
  font-size: 16px;
}

/* line 549, ../../app/assets/stylesheets/custom.css.scss */
div#ceremony img.church {
  position: relative;
  float: left;
  top: 0;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  margin-left: 210px;
  margin-top: 25px;
}

/* line 559, ../../app/assets/stylesheets/custom.css.scss */
div#eventmap {
  clear: both;
  height: 100px;
}

/* line 565, ../../app/assets/stylesheets/custom.css.scss */
div#reception > div.description {
  margin-top: -25px;
}
/* line 569, ../../app/assets/stylesheets/custom.css.scss */
div#reception > div.details {
  margin-top: 25px;
}
/* line 573, ../../app/assets/stylesheets/custom.css.scss */
div#reception img.house {
  position: relative;
  height: 315px;
  width: 475px;
  float: right;
  margin-right: 55px;
  -moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}
/* line 581, ../../app/assets/stylesheets/custom.css.scss */
div#reception img.backyard {
  position: relative;
  height: 315px;
  width: 475px;
  margin-right: 545px;
  float: right;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  margin-top: -300px;
}

/* line 593, ../../app/assets/stylesheets/custom.css.scss */
#the-party b {
  display: block;
  padding-top: 5px;
}
/* line 597, ../../app/assets/stylesheets/custom.css.scss */
#the-party img {
  padding: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 1px;
  background: #fff;
  width: 50px;
  height: 50px;
}
/* line 605, ../../app/assets/stylesheets/custom.css.scss */
#the-party h3.groomsmen {
  padding-right: 5px;
  text-align: right;
}
/* line 609, ../../app/assets/stylesheets/custom.css.scss */
#the-party div.groomsman {
  text-align: right;
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
}
/* line 615, ../../app/assets/stylesheets/custom.css.scss */
#the-party div.groomsman img {
  float: right;
  margin-left: 20px;
}
/* line 617, ../../app/assets/stylesheets/custom.css.scss */
#the-party h3.bridesmaids {
  padding-left: 5px;
}
/* line 620, ../../app/assets/stylesheets/custom.css.scss */
#the-party div.bridesmaid {
  text-align: left;
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
}
/* line 626, ../../app/assets/stylesheets/custom.css.scss */
#the-party div.bridesmaid img {
  float: left;
  margin-right: 20px;
}
/* line 629, ../../app/assets/stylesheets/custom.css.scss */
#the-party p.instructions {
  text-align: center;
  font-size: 13px;
  color: #666;
  line-height: 16px;
  padding-top: 10px;
  clear: both;
}

/*Blue highlighting on selected input fields*/
/* line 641, ../../app/assets/stylesheets/custom.css.scss */
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {
  border: 2px solid #306EFF;
}
