<div id="content">
<center><h1>People who have RSVPed!</h1>
<br><p>Click names to view other profiles to follow what people are saying about the wedding.</p>

<br><%= will_paginate %>

<ul class="users">
      <%= render @users %>
</ul>

<br><%= will_paginate %></center>
</div>
