<h1>We're Getting Hitched!</h1>

<p>
Yep, I tricked her into marrying me. It all goes down on October 19, 2013 in Piedmont Park.
</p>

<%= image_tag("SWT.png", :alt => "Broke Ass Image", :class => "center round") %>


<%= link_to "RSVP Here!", '#', :class => "signup_button round" %>
 