<h1><center>We're Getting Hitched!</center></h1> 

<%= link_to "", signup_path, :class => "signup_button round" %>

<%= image_tag("SWT.png", :alt => "Broke Ass Image", :class => "center round") %>
<p><center>
Yep, I tricked her into marrying me. It all goes down on October 19, 2013 in Piedmont Park.
</center></p>

 