<footer>
  <nav class="bottom round">
    <ul>
		<!--div id="baller"><script src="http://thestartuplegitimizer.com/js/legitimizeme.min.js?pubs=te-fc-wa-ny-ec"></script></div-->
    </ul>
  </nav>
</footer>
