<header>
  <%= image_tag("logo2.png", :alt => "Sample App", :class => "logo round",) %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Details", details_path %></li>
      <li><%= link_to "Music", voting_path %></li>
    </ul>
  </nav>
</header>
