<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", 'root_path' %></li>
      <li><%= link_to "Details", 'details_path' %></li>
      <li><%= link_to "Music Voting", 'voting_path' %></li>
    </ul>
  </nav>
</header>
